<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Tech Blog</title>
</head>

<body>
    <header>
        <h1>Technology Bytes</h1>
        <nav>
            <a>Home</a>
            <a>Login</a>
            <a>Sign-Up</a>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>
    
</body>

</html>