<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Cody Burkholder">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/style.css">

    <title>Technology Bytes</title>
</head>

<body>
    <header>
        <h1>Technology Bytes</h1>
        <nav>
            <ul>
                <li><a href="/" title="Return to the homepage">Home</a></li>
                <li><a href="/api/posts" title="Dashboard">Dashboard</a></li>

                {{#if loggedIn}}

                <button id="addBtn"><a href="/api/posts/add">Add a Post</a></button>
                <button id="logoutBtn">Logout</button>

                {{else}}

                <li id="loginBtn"><a href="/login" title="Member Login / Sign-Up">Login</a></li>

                {{/if}}

            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <h4>
            &#xa9; Cody Burkholder
        </h4>

        <p>
            Junior Developer 2023
        </p>
    </footer>

    <script src="/scripts/post_update.js"></script>
    <script src="/scripts/post_delete.js"></script>
    <script src="/scripts/logout.js"></script>
</body>

</html>