<h2>Byte-Sized Posts</h2>

<section class="home_posts">
{{#each posts as |post|}}


    <div class="post">
        <h3>{{post.title}}</h3>
        <p>{{post.post_content}}</p>
        <p>Created on: {{post.post_date}}</p>
    </div>

{{/each}}

</section>