{{#if loggedIn}}

<label>Add a post:</label>
<textarea placeholder="Enter your post here..."></textarea>

{{else}}

<h3 class="loginHeader"><a href="/login">Please login to view and interact with other user's posts and comments</a></h3>

{{/if}}