{{#if loggedIn}}

<section>
    <form action="/api/posts/add" method="POST">
        <div>
            <label for="newPostTitle">Post Title:</label>
        </div>
        <div>
            <input type="text" placeholder="The title of your post goes here" name="post_title" id="newPostTitle">
        </div>

        <div>
            <label for="newPostBox">Add post content:</label>
        </div>

        <div>
            <textarea id="newPostBox" placeholder="Enter your post here..." name="post_content"></textarea>
        </div>

        <div>
            <button id="createBtn">Create Post</button>
        </div>
    </form>
</section>

{{else}}

<h3 class="loginHeader"><a href="/login">Please login to view and interact with other user's posts and comments</a></h3>

{{/if}}