{{#if loggedIn}}

<section>
    <div>
        <label for="newPostBox">Add a post:</label>
    </div>

    <div>
        <textarea id="newPostBox" placeholder="Enter your post here..."></textarea>
    </div>

    <div>
        <button id="createBtn">Create Post</button>
    </div>
</section>

{{else}}

<h3 class="loginHeader"><a href="/login">Please login to view and interact with other user's posts and comments</a></h3>

{{/if}}