<h2>Login</h2>
<form action="/login" method="POST">
    <label for="loginName">Username:</label>
    <input type="text" placeholder="Username" id="loginName" name="user_name">
    <label for="loginPassword">Password:</label>
    <input type="password" placeholder="Password" id="loginPassword" name="password">
    <button>Sign-in</button>
</form>

<h2>Sign-Up</h2>
<form action="#" method="POST">
    <label for="username">Username:</label>
    <input type="text" placeholder="Username" id="username" name="username">
    <label for="email">Email Address:</label>
    <input type="email" placeholder="Email Address" id="email" name="email">
    <label for="password">Create a Password:</label>
    <input type="password" placeholder="Password" id="password" name="password">
    <button>Create Account</button>
</form>