
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    color: black;
    border-radius: .1em;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-left: 2%;
    flex-basis: 85%;
}

nav {
    flex-basis: 25%;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 2%;
    font-weight: bold;
    font-size: 1.25em;
}

a {
    text-decoration: none;
    color: black;
    transition: .3s;
}


li {
    transition: 0.3s;
}

li:hover {
    transform: translate(0, -2px);
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

body {
    background-image: url('./assets/background2.jpg');
    color: white;
}

div {
    margin: 10px 0px;
}

#accountForms {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.form,
.post {
    background-color: grey;
    font-size: 1.25rem;
    padding: 15px;
    border-radius: .5em;
    width: 25%;
    opacity: .85;
}

.loginHeader,
.loginHeader a {
    color: red;
    text-decoration: underline;
    text-align: center;
    align-items: center;
    margin-top: 100px;
}

button:hover {
    cursor: pointer;
}

.commentAuthor {
    font-size: .85rem;
}

.post_dashboard,
.home_posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 100%;
}

.comments_section {
    margin-left: 5%;
}

#newPostBox {
    width: 50%;
    height: 200px;
}

#newPostTitle {
    width: 50%;
}

